<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/table.css">
    <title>Sem-6</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173450384-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-173450384-2');
    </script>
</head>
<body>
    <h2> SEM-VIII Gradesheet</h2>
    <table>
        <tr>
            <th>Index</th>
            <th>Courses</th>
            <th>Credits</th>
            <th>Grades</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Mobile Computing</td>
            <td>4</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Multimedia Systems</td>
            <td>4</td>
            <td>A-</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Project-2</td>
            <td>4</td>
            <td>A</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Soft Computing</td>
            <td>4</td>
            <td>A+</td>
        </tr>
        <tr>
            <td>5</td>
            <td>System Security</td>
            <td>4</td>
            <td>A-</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Predictive Modeling</td>
            <td>3</td>
            <td>A+</td>
        </tr>
        <tr>
            <td colspan="2">GPA</td>
            <td colspan="2">3.78</td>
        </tr>
        <tr>
            <td colspan="2">CGPA</td>
            <td colspan="2">3.74</td>
        </tr>
    </table>
</body>
</html>